.DS_Store
.gitignore
settings.json

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

#Sonstiges
credentials*
capture.txt
**/alt/
loc
test_*.*
